<div class="container-table">
    <div class="table table-head" *ngIf="operatorsTried.length > 0">
        <div>OPERATOR</div>
        <div>GENDER</div>
        <div>HEALTH</div>
        <div>ROLE</div>
        <div>AFFILIATION</div>
        <div>SQUAD</div>
        <div>RELEASE SEASON</div>
    </div>

    <div class="table table-content" *ngFor="let op of operatorsTried">
        
        <div class="table-item item-op">
            <img src="../../../assets/img/operators-svg/{{op.name.toLowerCase()}}.svg" alt="{{op.name}}">
        </div>

        <div class="table-item" [ngClass]="this.serviceFunctions.compareValues(op.gender, todaysOperator.gender) ? 'match' : 'no-match'">{{ op.gender }}</div>
        
        <div class="table-item item-health" [ngClass]="this.serviceFunctions.compareValues(op.health, todaysOperator.health) ? 'match' : 'no-match'">
            <div class="health-container">
                <img src="../../../assets/img/health-3.svg" alt="{{op.health}}">
            </div>
            <div class="health-container">
                <img src="../../../assets/img/health-3.svg" *ngFor="let i of this.serviceFunctions.getArrayFromNumber(op.health-1)">
            </div>
        </div>

        <div class="table-item" [ngClass]="{
            'no-match': this.serviceFunctions.compareArrays(op.role, todaysOperator.role) === 0,
            'partial-match': this.serviceFunctions.compareArrays(op.role, todaysOperator.role) === 1,
            'match': this.serviceFunctions.compareArrays(op.role, todaysOperator.role) === 2 }" >
            <ul>
                <li *ngFor="let item of this.serviceFunctions.getArrayFromNumber(op.role.length); let i=index; last as isLast" class="li-table-item">
                    {{ op.role[i] }}<span *ngIf="!isLast">,</span>
                </li>
            </ul>
        </div>

        <div class="table-item" [ngClass]="{
            'no-match': this.serviceFunctions.compareArrays(op.affiliation, todaysOperator.affiliation) === 0,
            'partial-match': this.serviceFunctions.compareArrays(op.affiliation, todaysOperator.affiliation) === 1,
            'match': this.serviceFunctions.compareArrays(op.affiliation, todaysOperator.affiliation) === 2 }" >
            <ul>
                <li *ngFor="let item of this.serviceFunctions.getArrayFromNumber(op.affiliation.length); let i=index; last as isLast">
                    {{ op.affiliation[i] }}<span *ngIf="!isLast">,</span>
                </li>
            </ul>
        </div>

        <div class="table-item" [ngClass]="this.serviceFunctions.compareValues(op.squad, todaysOperator.squad) ? 'match' : 'no-match'">
            <div class="squad-container" *ngIf="!this.serviceFunctions.compareValues(op.squad, 'None')">
                <img src="../../../assets/img/squads/{{op.squad.toLowerCase()}}.png" alt="{{op.squad}}">
            </div>
            <span *ngIf="this.serviceFunctions.compareValues(op.squad, 'None')">None</span>
        </div>
        
        <div class="table-item" [ngClass]="{
            'season-down': this.serviceFunctions.compareSeasons([op.release_year, op.release_season], [todaysOperator.release_year, todaysOperator.release_season]) === 0,
            'match': this.serviceFunctions.compareSeasons([op.release_year, op.release_season], [todaysOperator.release_year, todaysOperator.release_season]) === 1,
            'season-up': this.serviceFunctions.compareSeasons([op.release_year, op.release_season], [todaysOperator.release_year, todaysOperator.release_season]) === 2 }" >
            <ul>
                <li>{{ op.season_name }}</li>
                <li *ngIf="op.release_year > 0">(Y{{ op.release_year }}S{{ op.release_season }})</li>
            </ul>
        </div>

    </div>
</div>
