@use '../../variables' as v;


canvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 96vw;
    pointer-events:none;
}


.container-game-complete {
    border: v.$border;
    border-radius: v.$border-radius;
    background: linear-gradient(#2F7018, #1e2328);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    width: v.$width-containers;
    margin: 50px 0px;
}


.op-guessed {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .op-img {
        width: 50%;

        img {
            width: 100%;
        }
    }

    .op-name {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            margin: 0;
            margin-top: 5px;
        }
    }
}


.tries {
    margin-top: 5px;

    span {
        font-weight: bold;
    }
}



@media only screen and (max-width: 450px) {
    .container-game-complete {
        //margin: 0 auto;
        width: 65vw;
    }
}