
$font: 'Montserrat', sans-serif;
$font-size: small;

$max-width: 700px;
$min-width: 300px;

$black: #0F0F0F;
$white: #f0f0f0;
$black-buttons: #1F1F1F;
$black-buttons-hover: #383838;
$placeholder-white: #ffffff30;
$background-list: #2e2e2e;

$green: #44A422;
$red: #CC2D2D;
$orange: #ce861a;
$red-arrow: #3F0D0D;

$width-search-bar: 350px;

$border: 1px solid $white;
$border-radius: 8px;
$button-padding: 10px;

$search-and-list-height: 60px;
$size-box-operator-table: 80px;