@use './variables' as v;

.main {
    margin: auto;
    max-width: v.$max-width;
    min-width: v.$min-width;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    /*
    app-footer {
        margin-top: auto;
    }
    */
}