@use '../variables';

.buttons-container {
    display: flex;
    flex-direction: column;
}

button {
    cursor: pointer;
    font-family: inherit;
    margin: 10px;
    color: variables.$white;
    background-color: variables.$black-buttons;
    border: variables.$border;
    border-radius: variables.$border-radius;
}